<a class="btn col-md-1 offset-md-9 btn-primary" aria-current="page" routerLink="/bebida">+</a>
<div class="container" style="margin-top: 10px">
      
      

    <div class="row">
      <div >
        <table class=" carder table table-borderless ">
          <thead >
  <tr>
    <th scope="col">id</th>
    <th scope="col" >Bebida</th>
    <th scope="col" >tamanho</th>
    <th scope="col" >quantidade</th>
    <th scope="col" >Valor</th>


  </tr>
</thead>
<tbody class="btn:hover">
  <tr class=" card-hover fundo">
    <td> 1</td>
    <td>Teste Bebida</td>
    <td>teste tamanho</td>
    <td>Teste quantidade </td>
    <td>Teste Valor </td>
  </tr>
</tbody>  
        </table>
      </div>
    </div>
  </div>