<div class="container">
  <h3 class="alert alert-primary">Listagem de Enderecos!</h3>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Cliente</th>
            <th scope="col">Rua</th>
            <th scope="col">Número</th>
            <th scope="col">Bairro</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
      </table>
    </div>
      <tbody>
        <tr *ngFor="let endereco of enderecos; let i = index">
        <td scope="row">{{ endereco.id }}</td>
          <td>{{ endereco.clientenome }}</td>
          <td>{{ endereco.rua }}</td>
          <td>{{ endereco.numero }}</td>
          <td>{{ endereco.bairro }}</td>
          <td *ngIf="!enderecoEmEdicao">
            <button type="button" class="btn btn-primary" (click)="editarEndereco(endereco.id)">Editar</button>
          </td>
        </tr>

      </tbody>
    
  

    <div *ngIf="enderecoEmEdicao">
      <h2>Editar Endereço</h2>
      <form (submit)="salvarEdicao()">
        <div>
          <label for="clientenome">Cliente:</label>
          <input id="clientenome" [(ngModel)]="enderecoEmEdicao.clientenome" name="clientenome">
       </div>
        <div>
          <label for="rua">Rua:</label>
          <input id="rua" [(ngModel)]="enderecoEmEdicao.rua" name="rua">
        </div>
        <div>
          <label for="numero">Número:</label>
          <input id="numero" [(ngModel)]="enderecoEmEdicao.numero" name="numero">
        </div>
        <div>
          <label for="bairro">Bairro:</label>
          <input id="bairro" [(ngModel)]="enderecoEmEdicao.bairro" name="bairro">
        </div>
        <button type="submit">Salvar</button>
        <button (click)="cancelarEdicao()">Cancelar</button>
      </form>
    </div>
  </div>
</div>













