<div>

  <div>
    <h2>Funcionarios Disponíveis</h2>
    <table class="custom-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Número</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let funcionario of funcionarios">
          <td>{{ funcionario.nome }}</td>
          <td>{{ funcionario.numero }}</td>
          <td>
            <button (click)="editarFuncionario(funcionario.id)">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf="funcionarioEmEdicao">
    <h2>Editar Funcionario</h2>
    <form (submit)="salvarEdicao()">
      <div>
        <label for="nome">Nome:</label>
        <input id="nome" [(ngModel)]="funcionarioEmEdicao.nome" name="nome">
      </div>
      <div>
        <label for="numero">Número:</label>
        <input id="numero" [(ngModel)]="funcionarioEmEdicao.numero" name="numero">
      </div>
      <button type="submit">Salvar</button>
      <button (click)="cancelarEdicao()">Cancelar</button>
    </form>
  </div>
</div>
