<mat-card>

  Clientes Disponiveis
<table mat-table [dataSource]="comidas" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="sabor">
    <th mat-header-cell *matHeaderCellDef> Sabores </th>
    <td mat-cell *matCellDef="let comida"> {{comida.sabor.join(', ')}} </td>
</ng-container>

  <ng-container matColumnDef="tamanho">
    <th mat-header-cell *matHeaderCellDef> Tamanho </th>
    <td mat-cell *matCellDef="let comida"> {{comida.tamanho}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</mat-card>


