<div>

  <div>
    <h2>Comidas Disponíveis</h2>
    <table class="custom-table">
      <thead>
        <tr>
          <th>Sabores</th>
          <th>Tamanho</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comida of comidas">
          <td>{{ comida.sabores }}</td>
          <td>{{ comida.tamanho }}</td>
          <td>
            <button (click)="editarComida(comida.id)">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="comidaEmEdicao">
    <h2>Editar Comida</h2>
    <form (submit)="salvarEdicao()">
      <div>
        <label for="Sabores">Sabores:</label>
        <select id="Sabores" name="Sabores" [(ngModel)]="saboresSelecionados" multiple>
          <option *ngFor="let sabor of saboresEnumValues" [value]="sabor">{{ sabor }}</option>
        </select>
      </div>
      <div>
        <label for="Tamanho">Tamanho:</label>
        <select id="Tamanho" [(ngModel)]="comidaEmEdicao.tamanho" name="Tamanho">
          <option value="PEQUENA">Pequena</option>
          <option value="MEDIA">Média</option>
          <option value="GRANDE">Grande</option>
          <option value="GIGANTE">Gigante</option>
        </select>
      </div>
      
      <button type="submit">Salvar</button>
      <button (click)="cancelarEdicao()">Cancelar</button>
    </form>
  </div>
  
</div>

