<form (ngSubmit)="salvar()">
    <div class="mb-3">
        <label for="cliente" class="form-label">cliente:</label>
        <input type="text" class="form-control"  
            [(ngModel)]="endereco.cliente">
    </div>
    <div class="mb-3">
        <label for="numero" class="form-label">rua:</label>
        <input type="number" class="form-control"  [(ngModel)]="endereco.rua">
    </div>
    <div class="mb-3">
        <label for="numero" class="form-label">numero:</label>
        <input type="number" class="form-control"  [(ngModel)]="endereco.numero">
    </div>
    <div class="mb-3">
        <label for="bairro" class="form-label">bairro:</label>
        <input type="number" class="form-control"  [(ngModel)]="endereco.bairro">
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>


