
Clientes Disponiveis
<table  class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> nome </th>
      <td mat-cell *matCellDef="let funcionario"> {{funcionario.nome}} </td>
  </ng-container>
  <ng-container matColumnDef="cargo">
    <th mat-header-cell *matHeaderCellDef> cargo </th>
    <td mat-cell *matCellDef="let funcionario"> {{funcionario.cargo}} </td>
  </ng-container>
  <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> email </th>
      <td mat-cell *matCellDef="let funcionario"> {{funcionario.email}} </td>
    </ng-container>
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef> numero </th>
      <td mat-cell *matCellDef="let funcionario"> {{funcionario.numero}} </td>
    </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>-->
