<div class="container mt-5">
    <form>

        <div class="mb-3">
            <div class="row justify-content-center">
              <div class="col-md-4 mb-3">
                <input type="text" placeholder="Nome" aria-label="Nome" class="form-control"  />
              </div>
              <div class="col-md-4 mb-3">
                <input type="text" placeholder="Telefone" aria-label="Numero" class="form-control"  />
              </div>
            </div>
          </div>
      <div class="mb-3">
        <div class="row justify-content-center">
          <div class="col-md-4 mb-3">
            <input type="text" placeholder="E-mail" aria-label="E-mail" class="form-control"  />
          </div>
          <div class="col-md-4 mb-3">
            <select class="form-select" placeholder="Cargo" >
              <option value="undefined">Escolha o Cargo</option>
              <option>teste</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
  