

<nav class="navbar navbar-expand-lg bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Pizzaria</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">


        <li class="nav-item"><a class="nav-link active"  routerLink="/admin/cliente">Clientes</a></li>
        <li class="nav-item"><a class="nav-link active"  routerLink="/admin/funcionario">Funcionarios</a></li>
        <li class="nav-item"><a class="nav-link active"  routerLink="/admin/bebida">Bebidas</a></li>
        <li class="nav-item"><a class="nav-link active"  routerLink="/admin/comida">Pizzas</a></li>
        <li class="nav-item"><a class="nav-link active"  routerLink="/admin/pedido">Pedidos</a></li>


        
 
    
      </ul>          
    </div>
  </div>
</nav>

