<div class="container mt-5">
    <form>
      <!-- Campos para Pessoa -->
      <div class="mb-3">
        <div class="row justify-content-center">
          <div class="col-md-4 mb-3">
            <input type="text" placeholder="Nome" aria-label="Nome" class="form-control"  />
          </div>
          <div class="col-md-4 mb-3">
            <input type="text" placeholder="Telefone" aria-label="Numero" class="form-control"  />
          </div>
        </div>
      </div>
  

      <div >
        <div class="mb-3">
          <div class="row justify-content-center">
            <div class="col-md-4 mb-3">
              <input type="text" placeholder="Rua" aria-label="Rua" class="form-control"  />
            </div>
            <div class="col-md-2 mb-3">
              <input type="text" placeholder="Número" aria-label="Número" class="form-control" />
            </div>
            <div class="col-md-2 mb-3">
              <input type="text" placeholder="CEP" aria-label="CEP" class="form-control"  />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  